<!--written by Kevin Buss-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <td th:text="${event.titleSummary}"></td>
    </tr>
    <tr>
        <th>Start Date</th>
        <td th:text="${event.startDate}"></td>
    </tr>
    <tr>
        <th>End Date</th>
        <td th:text="${event.endDate}"></td>
    </tr>
    <tr>
        <th>Location</th>
        <td th:text="${event.location}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${event.description}"></td>
    </tr>

</table>

</body>
</html>