<!--written by Kevin Buss-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>Artwork</th>
        <td>
            <div class="box">
            <img th:src="@{${artwork.artLink}}">
            </div>
        </td>
    </tr>
    <tr>
        <th>Title</th>
        <td th:text="${artwork.title}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${artwork.description}"></td>
    </tr>
    <tr>
        <th>Medium</th>
        <td th:text="${artwork.medium}"></td>
    </tr>
    <tr>
        <th>Genre</th>
        <td th:text="${artwork.genre}"></td>
    </tr>
    <tr>
        <th>Size</th>
        <td th:text="${artwork.size}"></td>
    </tr>
</table>

</body>
</html>