<!--written by Kevin Buss-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="gallery">
    <thead>
    <tr>
        <a th:href="'/searchArt'">Search for Art</a><!--This line added by Jen Buck-->
    </tr>
    </thead>
    <tr th:each="artwork : ${artworks}">
        <div class="box">
            <a th:href="'/artwork/detail?artworkId=' + ${artwork.id}">
                <img th:src="@{${artwork.artLink}}">
            </a>
        </div>
    </tr>
</table>

</body>
</html>