<!--written by Kevin Buss-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Artwork</th>
        <a th:href="@{search}">Search for Art</a><!--This line added by Jen Buck-->
    </tr>
    </thead>
    <tr th:each="artwork : ${artworks}">
        <td><a th:href="'/artwork/detail?artworkId=' + ${artwork.id}" th:text="${artwork.title}"></a></td>
    </tr>
</table>

</body>
</html>