<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Add Artist</title>
</head>
<body>
<p>Artist</p>
<form method="post">
    <div class="form-group">
        <label>Artist Name
            <input th:field="${artist.artistName}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Biography
            <input th:field="${artist.artistInfo}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>SocialLinks
            <input th:field="${artist.socialLinks}" class="form-control">
        </label>
        <p class="error" th:errors="${artist.socialLinks}"></p>
    </div>
        <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>
</body>
</html>