<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <td th:text="${artist.artistName}"></td>
    </tr>
    <tr>
        <th>Biography</th>
        <td th:text="${artist.artistInfo}"></td>
    </tr>
    <tr>
        <th>Social Links</th>
        <td th:text="${artist.socialLinks}"></td>
    </tr>
</table>
​
</body>
</html>
