<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <td th:text="${artist.artistName}"></td>
    </tr>
    <tr>
        <th>Biography</th>
        <td th:text="${artist.artistInfo}"></td>
    </tr>
    <tr>
        <th>Social Links</th>
        <td th:text="${artist.socialLinks}"></td>
    </tr>
</table>

<div th:each="file : ${files}">
    <div class="gallery">
        <a target="_blank" th:href="${file}"> <img th:src="${file}" />
        </a>
    </div>
</div>
​
<form action='/artwork/create'>
    <input type="submit" value="Add Artwork" />
</form>
</body>
</html>
