<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <td th:text="${artist.artistName}"></td>
    </tr>
    <tr>
        <th>Biography</th>
        <td th:text="${artist.artistInfo}"></td>
    </tr>
    <tr>
        <th>Social Links</th>
        <td><a th:href="${artist.socialLinks}" th:text="${artist.socialLinks}"></a></td>
    </tr>
</table>
​
<form action='/artwork/create' >
<!--    <div th:if = "${artist.artistUserId == user.id}">-->
    <div th:if = "${artist.connectedUser == user}">
        <input type="submit" value="Add Artwork" />
    </div>
</form>

<div class="gallery">
    <thead>
    <tr>
        <th>Artwork</th>
    </tr>
    </thead>
    <tr th:each="artwork : ${artworks}">
        <td>
            <div class="box">
                <a th:href="'/artwork/detail?artworkId=' + ${artwork.id}">
                    <img th:src="@{${artwork.artLink}}">
                </a>
            </div>
        </td>
    </tr>
</div>



</body>
</html>
